body {
    color: #fff;
}

div#controls p a {
    padding: 1em 2em;
    -webkit-border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    border-radius: 0.75em;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: rgb(100, 200, 100);
    margin: 1em;
    text-decoration: none;
}
